name: Build and Deploy Authentication service to ACA 

on:
  push:
    branches: [master]
    paths:
      - 'services/authentication-service/**'
      - 'services/proto/**'
      - 'services/common/**'
  pull_request:
    branches: [master]
    paths:
      - 'services/authentication-service/**'
      - 'services/proto/**'
      - 'services/common/**'


jobs:
  deploy-to-aca:
    uses: ./.github/workflows/template.yaml
    with:
      app-name: authentication-service ## cái này cũng thay bằng tên container app real nhé
      dockerfile-path: authentication-service/authentication-service.dockerfile
    secrets: inherit