name: Build and Deploy Location service to ACA 

on:
  push:
    branches: [master]
    paths:
      - 'services/location-service/**'
      - 'services/proto/**'
      - 'services/common/**'
  pull_request:
    branches: [master]
    paths:
      - 'services/location-service/**'
      - 'services/proto/**'
      - 'services/common/**'


jobs:
  deploy-to-aca:
    uses: ./.github/workflows/template.yaml
    with:
      app-name: location-service  ## cái này cũng thay bằng tên container app real nhé
      dockerfile-path: location-service/location-service.dockerfile
    secrets: inherit