name: Build and Deploy Logger service to ACA 

on:
  push:
    branches: [master]
    paths:
      - 'services/logger-service/**'
      - 'services/proto/**'
      - 'services/common/**'
  pull_request:
    branches: [master]
    paths:
      - 'services/logger-service/**'
      - 'services/proto/**'
      - 'services/common/**'


jobs:
  deploy-to-aca:
    uses: ./.github/workflows/template.yaml
    with:
      app-name: logger-service  ## cái này cũng thay bằng tên container app real nhé
      dockerfile-path: logger-service/logger-service.dockerfile
    secrets: inherit