name: Build and Deploy Trip service to ACA 

on:
  push:
    branches: [main]
    paths:
      - 'services/trip-service/**'
      - 'services/proto/**'
      - 'services/common/**'
  pull_request:
    branches: [master]
    paths:
      - 'services/trip-service/**'
      - 'services/proto/**'
      - 'services/common/**'


jobs:
  deploy-to-aca:
    uses: ./.github/workflows/template.yaml
    with:
      app-name: trip-service  ## cái này cũng thay bằng tên container app real nhé
      dockerfile-path: trip-service/trip-service.dockerfile
    secrets: inherit